rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Permitir leitura e escrita para usuários autenticados ou durante a operação de gerenciamento de turno
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
